* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #1f5a92;
  color: #fff;
}


.nav {
  display: flex;
  background-color: #d3e8f7;
}

.nav a {
  color: #091622;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


main {
  display: flex;
  flex-wrap: wrap;
}

.aside {
  flex: 1;
  background-color: #8badec;
  padding: 80px;
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
  background: #78b1e6;
  color: #fff;
}


.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}



.card img {
  width: 100%;
  min-width: 400px;
  height: 75%;
}


.footer {
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #7dc7ec;
    color: #ffffff;
}

.footer h2 {
    font-size: 40px;
    display: inline-block;
}
.footer h1 .seo {
    color: #d9dcd6;
}

.footer div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.footer div ul {
    list-style-type: none;
}

.footer div ul li {
    display: inline-block;
    margin-left: 25px;
}

